.navbar-menu{
    background-color: #405189;
}
.circleProgress {
    position: relative;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    text-transform: none!important;
}
.avatar-title > img{ width: 30px;}

@media(max-width:991px){
    .openMenu{
        margin-left: 0px!important;
    }
    .navbar-menu{
        z-index: 1005;
    }
    .vertical-overlay {
        z-index: 1004;
    }
    .filterBox{
        position: fixed;
        left: 0px;
        width: 100%;
        top: 0px;
        bottom: 0px;
        z-index: 1005;
        background: #F4F4F4;
        padding: 50px 20px;
        display: none;
    }
    .openFilter{
        display: block;
    }
    .filterBox .react-datepicker-wrapper{
        width: 100%;
    }
    .table-complaint{ background-color: #F4F4F4;}
    .table-complaint tr th {background-color: #F4F4F4;}
    .table-complaint tr > th:first-child{
        white-space: nowrap;
    }
}