.navbar-menu{
    background-color: #405189;
}
.circleProgress {
    position: relative;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn{
    text-transform: none!important;
}
.avatar-title > img{ width: 30px;}